NET "CLK" TNM_NET = "CLK";
TIMESPEC TS_CLK = PERIOD "CLK" 20 ns HIGH 50%;
NET "DS_FLAG[0]" LOC = F12;
NET "DS_FLAG[1]" LOC = J12;
NET "DS_FLAG[2]" LOC = M13;
NET "DS_FLAG[3]" LOC = K14;

NET "DS_OUT[7]" LOC = L14;
NET "DS_OUT[6]" LOC = H12;
NET "DS_OUT[5]" LOC = N14;
NET "DS_OUT[4]" LOC = N11;
NET "DS_OUT[3]" LOC = P12;
NET "DS_OUT[2]" LOC = L13;
NET "DS_OUT[1]" LOC = M12;
NET "DS_OUT[0]" LOC = N13;

NET "ONLINE" LOC = N3;
NET "RST" LOC = E2;
NET "SET" LOC = F3;
NET "Cm" LOC = G3;
NET "Cc" LOC = B4;
NET "PQm" LOC = A7;
NET "PQc" LOC = M4;
NET "BUSY" LOC = P11;
NET "CLK" LOC = B8;

NET "ONLINELED" LOC = G1;
NET "MR" LOC = N4;
NET "MY" LOC = N5;
NET "MG" LOC = P6;
NET "CR" LOC = P7;
NET "CY" LOC = M11;
NET "CG" LOC = M5;

NET "CLK" SLEW = FAST;
